@inherits LayoutComponentBase
<div class="page">
    @if (_isUserAuth)
    {
        <div class="sidebar navbar">
            <NavMenu/>
        </div>
    }


    <main class="md:ml-64 mt-16 md:mt-0">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private bool _isUserAuth = true; //TODO: Implement authentication


}